/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    background-color: #FFFEF8;
    ;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
*{text-decoration: none;
 }
.li-login a {
color: black;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	line-height: 1;
	margin: 0; /* Ensure no margin on body */
	padding: 0; /* Ensure no padding on body */
	max-width: 1140px;
	margin: auto;
	font-family: 'Work Sans';
	font-size: 14px;
	position: relative; /* Ensure relative positioning for child elements */
}



header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0 ;
	background-color: #FFFEF8;
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}


#filters{
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
}
.green-button {
	background-color:#FFFEF8;
	color:#1D6154; 
	min-width: 75px;
	margin-right: 10px;
	height: 37px;
	border-radius: 60px;
	border: solid 1px #1D6154;
	transition: 1s;
}

.green-button:hover {
	color: white;
	background-color: #1D6154;
}
.div-log-in{
	display: flex;
	justify-content: center;
	align-items: center;
}
.div-log-in h2{
	margin-bottom: 20px;
	color: #1D6154;
	font-size: 30px;
	font-family: "Syne";
}
.main{
	display: flex;
	flex-direction: column;
}
.form-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px; /* Adjust the gap to suit your preference */
}

.form-login label {
    align-self: flex-start;
    margin-left: 33%; /* Adjust this value to align the labels with the inputs */
}

.imput-text {
    width: 32%;
    height: 35px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: none;
    padding: 0 10px; /* Optional: Add padding for better text input appearance */
}



.se-connnecter{
	background-color:#1D6154;
	color:#ffffff; 
	min-width: 75px;
	margin-right: 10px;
	height: 37px;
	border-radius: 60px;
	border: solid 1px #1D6154;
	transition: 1s;
	width: 15%;
}
.forgot-password {
	color: black; 
	text-decoration: underline; 
	font-weight: bold;
  }
 
  footer {
    margin-top: 280px;
    padding: 20px;
    width: 100%;
  }


 footer nav ul {
    display: flex;
    justify-content: flex-end;
    margin: 2em;
    background-color: white;
 }
 footer nav ul li {
    background-color: white;
 }
#banner {
	background-color: black;
	color: white;
	text-align: center;
	padding: 10px;
	width: 98.437498884184181481vw;
	position: relative; 
	left: 50%;
	margin-left: -50vw;
}
.modal {
    display: none;
    position: fixed; 
    z-index: 9999; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; 
    background-color: rgba(0, 0, 0, 0.5); 
}


.modal-content {
    background-color: rgb(255, 255, 255);
    margin: 10% auto;
    padding: 40px; 
    border: 2px solid black;
    width: 60%; 
    text-align: center; 
	height: 715px;
}


.close {
    color: black;
    float: right;
    font-size: 32px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: rgb(197, 13, 13); 
    text-decoration: none;
    cursor: pointer;
}

.work {
    margin-bottom: 20px;
}

.work img {
    width: 100px;
    height: auto; 
    display: block; 
    margin: 0 auto 10px;
}

.work h3 {
    font-size: 16px;
    margin: 0; 
    text-align: center; 
}

.modal{
	gap: 20px;
}
.modal-content {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
    text-align: center; 

    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 630px; 
	height: 655px ; 
	    border-radius: 10px; 
	gap: 20px;
}

.modal-content .work {
    display: inline-block; 
	margin-right: 10px; 
}
.p-modale {
    font-size: 23px;
    margin-bottom: 20px;
	background-color: white;
}
.close-div{


	display: flex;
	justify-content: flex-end;
 width: 100%;
 background-color: rgb(255, 255, 255);
 height: 20px;
 
}
.work {
    position: relative; 
}

.delete-icon {
    position: absolute; 
    top: 5px; 
    right: 5px; 
    z-index: 1; 
    cursor: pointer; 
}
.delete-icon {
    background-color: rgb(10, 10, 10); 
	color: white;
	padding: 3px
}
.end-line {
    border-bottom: 1px solid black; /* Ajoute une bordure en bas */
    width: 100%; /* Pour qu'elle s'étende sur toute la largeur */
}

#gallery{
	width: 69%;
}
.end{
	display: flex;
	justify-content: center;
	width: 100%;
	margin-top: 44px;
    background-color: white;
}

	

.button-modale {
    background-color: #1D6154;
    color: #ffffff;
    min-width: 75px;
    margin-right: 10px;
    height: 37px;
    border-radius: 60px;
    font-size: 10px;
    width: 40%;
}
#modal-2 {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content2 {
    background-color: #fff;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.close, .cancel {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.close {
margin-top: 81px;
}

.cancel {
    top: 10px;
    left: 10px;
}

#add-file, #image-preview, #add-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0;
}

#add-file h3 {
    margin-bottom: 10px;
    background-color: white;
}

#image-preview {
    text-align: center;
}

#image-upload {
    cursor: pointer;
}

#add-form label {
    margin: 5px 0;
}

.line {
    width: 73%;
    height: 1px;
    background-color: #888;
    margin: 20px 0;
}

#submit-button {
    margin-top: 20px;
}

.button-modale {
    background-color: #1D6154;
    color: #ffffff;
    min-width: 75px;
    margin-right: 10px;
    height: 37px;
    border-radius: 60px;
    border: solid 1px #1D6154;
    transition: 1s;
    font-size: 10px;
    width: 40%;
    margin-left: 30px;
}
.modal {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content2 {
    background-color: #fff;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 630px; 
	height : 715px ; 
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    gap: 31px   ;
}

.header-buttons {
    width:98%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    background-color: white;
}

.cancel, .close2 {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.cancel {
    color: black;
}

.close2 {
    color: red;
    position: absolute;
    top: 10px;
    right: 10px;
}

#add-file, #image-preview, #add-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0;
    background-color: white;
}
#add-form label {
    background-color: white;
}
#add-file h3 {
    margin-top: 10px;
    font-size: 20px;
}

#image-preview {
    text-align: center;
    margin-top: 20px;
}

.image-upload-container {
    width: 420px;
    height: 169px;
    background-color: #E8F1F6;
	; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-items: center;
    cursor: pointer;
	color:  #CBD6DC;
	;
}

.image-upload-container i {
    font-size: 73px;
    margin-bottom: 10px;
    background-color: #E8F1F6 ;
}
.image-upload-container p{
    background-color: #E8F1F6;
}
#image-upload {
    cursor: pointer;
    font-size: 16px;
    color: #000;
}

#add-form label {
    margin: 5px 0;
    background-color: white;
}

#stylo1 ::before{
    color: white;
    background-color: black;
}

#submit-button {
    margin-top: 20px;
}

.button-modale {
    background-color: #1D6154;
    color: #ffffff;
    min-width: 75px;
    margin-right: 10px;
    height: 37px;
    border-radius: 60px;
    border: solid 1px #1D6154;
    transition: 1s;
    font-size: 10px;
    width: 40%;
    margin-left: 30px;
}
.ajout-photo-button{
	background-color:#CBD6DC;
	color: #306685;
	; 
 width: 137px;
	margin-right: 10px;
	height: 37px;
	border-radius: 60px;
	border: solid 0px #1D6154;
	transition: 1s;
}
#image-preview {
    position: relative;
    width: 100%;
    height: 20%;
}

.image-upload-container {
    position: relative;
    z-index: 1; /* Assurez-vous que les autres éléments restent au-dessus */
}

#background-image {
    position: absolute;
    top: 0;
    left: 111px;
    width: 50%;
    height: 100%;
    object-fit: cover;
    z-index: 21; /* Placez l'image de fond en arrière-plan */
}
#add-form {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px auto;
}

#add-form div {
    width: 100%;
    max-width: 400px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

#add-form label {
    margin-bottom: 5px;
    font-weight: bold;
    text-align: left;
}

#add-form input, #add-form select {
    padding: 10px;
    box-sizing: border-box;
    border: none; /* Enlever la bordure */
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Ajouter un effet d'ombrage */
}

#submit-button{
  color:#FFFEF8;
	background-color:#b3b3b3; 
	width:  181px;
	margin-right: 10px;
	height: 37px;
	border-radius: 60px;
	border: solid 1px #b3b3b3;
	transition: 1s;
}
.portfolio-header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px; /* Space between the h2 and the button */
    margin-bottom: 20px; /* Optional: space below the header */
}



#modifier a {
    display: flex;
    align-items: center;
    font-size: 16px;
    text-decoration: none; 
    transform: translateY(-80%);

}

#modifier i {
    margin-right: 5px; /* Add some space between the icon and the text */
}

h2 {
    margin: 0; /* Remove default margin to align better with the button */
}
.close2 {
    color: black;
    font-size: 24px;
    cursor: pointer;
    transform: translate(-149%, -20%);
}

.close2:hover {
    color: red;
}
#stylo1{
    color: white;
    background-color: black;
}
#pen-2{
    
}